.login-page {
  text-align: -webkit-center;
  padding: 8% 0 0;
  margin: auto;
}
.login-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 45px;
  width: 40%;
  text-align: center;
}
.login-form label {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  float: left;
  margin: 0px;
}
.login-form input {
  font-family: sans-serif;
  width: -webkit-fill-available;
  padding: 12px;
  font-size: 24px;
  margin-bottom: 8px;
}
.login-form button {
  outline: 0;
  background: #1a8cff;
  width: 100%;
  border: 0;
  border-radius: 2px;
  padding: 15px;
  color: #ffffff;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
}

.login-form button:hover,
.login-form button:active,
.login-form button:focus {
  background: #99ccff;
}
